{% extends 'admin/base_site.html' %}
{% load i18n admin_urls %}
{% load static %}

{% block title %}
Voice Share | Voice Share App
{% endblock title %}

{% block content %}

  <div class="container">
    <!-- <div class="row"> -->
      <div class="col-12">
        <h3 class="mb-3"> Audio attribué </h3>
        <hr style="border-color:#b8bfc2;">
      </div>
     
      <div class="row">
        <div class="col-12">
        <div class="card" style="margin-bottom: 10px;">
            <div class="container" style="background-color: #F2F3F4;">
              <table>
                {% for audio in Audios %}
                  <div class="float-child" style="float: left; text-align: center; width: 35%; padding: 10px;" >
                    <i class="fa fa-file-audio" style="font-size:50px;color:red"></i>
                    <h6 style="height: 50px;" ><b>{{ audio.name }}</b></h6>
                    <h5><audio controls><source src="https://rajesh1872.pythonanywhere.com/static/{{audio.audio_file}}" type="audio/mpeg"></audio></h5>
                  </div>
                {% endfor %}
              </table>
            </div>
          </div>       
          </div>                                                                                              
        </div> 
      
    <!-- </div> -->
  </div>
{% endblock content %}

      
